<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <!--    <uses-permission android:name="com.symbol.emdk.permission.EMDK" />-->

    <!--fixing to allow device-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" /> -->
    <uses-permission
            android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
            tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <uses-feature
            android:name="android.hardware.location.gps"
             />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
            android:name="android.hardware.usb.host"
             />


    <application
            android:name=".LSPatrolApp"
            android:allowBackup="false"

            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@drawable/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
<!--        <uses-library android:name="com.symbol.emdk" />-->
        <service
                android:name=".services.TimerGeneralService"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- <service -->
        <!-- android:name=".services.TimerService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" /> -->
        <service
                android:name=".services.TimerService"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
                android:name=".services.ParentService"
                android:enabled="true"
                android:exported="false" />

        <activity android:name=".activities.ParentActivity" />
        <activity android:name=".activities.DownloadOfflineTilesActivity" />
        <activity android:name=".activities.MapmobActivity" /> <!-- <meta-data android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@mipmap/ic_launcher" /> -->
        <activity
                android:name=".activities.InitAppActivity"
                android:screenOrientation="sensorPortrait"
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.ActivationActivity"
                android:screenOrientation="sensorPortrait" />
        <activity
                android:name=".activities.MainActivity"
                android:screenOrientation="sensorPortrait" />
        <activity
                android:name=".activities.MyScreensActivity"
                android:screenOrientation="sensorPortrait"
                android:windowSoftInputMode="adjustPan" /> <!-- prevent hiding the field by softkey -->
<!--        <uses-library-->
<!--                android:name="string"  />-->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyC7lrolhXNPEeiNJuBccG6LgOwGRrBRQos" /> <!-- TODO restrict the api key -->
        <!-- <service -->
        <!-- android:name=".services.ServiceConnectSensor1" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" /> -->
        <service
                android:name=".services.ServiceConnectSensor"
                android:enabled="true"
                android:exported="false"
                android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.androidexample.screenonoff.AEScreenOnOffService" />
            </intent-filter>
        </service>
        <service
                android:name=".services.ServiceFindLocation"
                android:exported="true" />
        <service
                android:name=".services.ServiceHandleAlarms"
                android:exported="true" />
        <service android:name=".services.ServiceFindSingleLocation" /> <!-- <receiver android:name=".ScreenOnOffReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SCREEN_ON" /> -->
        <!-- <action android:name="android.intent.action.SCREEN_OFF" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="a2ca8d68e6eb68bf1b812b6e6f088bb62a139961" /> <!-- android:authorities="${applicationId}.contentprovider" -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.example.homefolder.example.provider"
                android:exported="false"
                android:grantUriPermissions="true">

            <!-- ressource file to create -->
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>